* {
    border: 0;
    margin: 0;
    padding: 0;
}
 

#contents {
    display: flex;
    margin: 2rem 3rem;;
    padding: 1rem;
}

#main_content {
    flex: 7;
}

#menu {
    flex: 3;
    font-size: x-large;
    text-align: right;
}
